*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Bodoni MT Condensed';
    src: url('../assets/BodoniMTCondensed-BoldItalic.woff') format('woff2'),
        url('../assets/BodoniMTCondensed-BoldItalic.woff2') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;  
}
/* Containers */
.container{
    max-width: 1500px;
    width: 87%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col, section{
    width: 100%;
    position: relative;
}
section{
    background-color: black;
    padding: 40px 0;
}
/* Titles */
h3{
    font-size: 30px;
    font-weight: 500;
    color: #F0E595;
    text-transform: uppercase;
    margin-bottom: 20px;
}
/* images */
img{
    width:100%;
}
/* Header */
#header{
    position: absolute;
    width: 100%;
    z-index: 20;
}
#header nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 40px 0;
}
#header nav ul li {
    margin-right: 40px;
}
#header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}
#header nav ul li a.active{
    color: #F0E595;
    font-weight: bold;
}

/* Main banner */
#main-banner{
    height:830px;
    background-image: url('../media/dalieth-images/main-banner-bg.jpg');
    width:100%;
    background-size: cover;
    background-position: center;
    padding: 0;
}
#main-banner::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    top: 0;
}
#main-banner .container, #main-banner .container .row,#main-banner .container .row .col{
    height: 100%;
}
#main-banner .author-box{
    margin-top: 130px;
}
#main-banner .author-box h1{
    font-family: 'Bodoni MT Condensed';
    font-size:160px ;
    color:#F0E595;
    line-height: 1;
}
#main-banner .author-box h4{
    font-size: 50px;
    color:#F0E595;
    line-height: 1;
    font-weight: 300;
    font-style:italic;
}
#main-banner .author-description{
    position: absolute;
    right: 0;
    bottom: 90px;
    max-width: 390px;

}
#main-banner .author-description p{
    color: white;
    font-size: 22px;
    text-align: right;

}
/* Movies */
#movies-i-like{
    padding-top: 60px;
}
.movies-grid .col{
    width: 20%;
}
.movie-card{
    padding: 20px;
}
.movie-card img{
    height: 312px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 10px;
}
.movie-card p{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.movie-card p.date{
    font-weight: 300;
}
/* Favorite movie */
#favorite-movie{
    padding: 0;
    background-color: #1D1D1D;
}
#favorite-movie h2{
    font-size: 75px;
    color:#F0E595;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 40px;
}
#favorite-movie p{
    color:#F0E595;  
    font-size: 23px;  
}
#favorite-movie .container{
    width: 100%;
    max-width: 100%;
}
#favorite-movie .col:first-child{
    width: 42%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#favorite-movie .col:first-child .wrap{
    padding: 12%;
}
#favorite-movie .col:last-child{
    width: 58%;
}

/* animated movies */
#animated-movies .images-grid .col{
    width: 50%;
}
#animated-movies .images-grid .col img{
    height: 400px;
    object-fit: cover;
}

/* Footer */
#footer{
    background-color: black;
    padding:15px 0 30px;
}
#footer .row .col{
    width: 50%;
}
#footer p, #footer a{
    color: white;
}
#footer a{
    display:flex;
    align-items: center;
    text-decoration: none;
    justify-content: flex-end;
}
#footer a img{
    width: 50px;
    margin-left: 20px;
}

/* Responsive */

/* Tablets */
@media (max-width:1024px){
    /* Movies */
    .movies-grid .col{
        width: 50%;
    }
    /* Favorite movie */
    #favorite-movie h2{
        font-size: 55px;
        margin-bottom: 10px;
    }
}
/* Mobile */
@media (max-width:550px){
    /* Main banner */
    #main-banner{
        height: 700px;
    }
    #main-banner .author-box h1{
        font-size:90px ;
    }
    #main-banner .author-box h4{
        font-size: 35px;
    }
    /* Movies */
    .movies-grid .col .movie-card{
        padding: 10px;
    }
    .movie-card img{
        height: 250px;
    }
    /* Favorite movie */
    #favorite-movie h2{
        font-size: 55px;
        margin-bottom: 10px;
    }
    #favorite-movie .col:first-child .wrap{
        padding: 10%;
    }
    #favorite-movie .row {
        flex-direction: column-reverse;
    }
    #favorite-movie .row .col{
        width: 100% ;
    } 
    /* animated movies */
    #animated-movies .images-grid .col img{
        height: 200px;
    }
    /* Footer */
    #footer .row .col{
        width: 100%;
    }
    #footer p{
        text-align: center;
    }
    #footer a{
        justify-content: center;
    }
}