/* Basics */
h1 {
    color: red;
    font-size: 36px;
}

h2 {
  font-size: 48px;
  font-family: 'Inter', sans-serif;
  margin: 24px 0;
}

h3 {
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  margin: 24px 0;
}

h4 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin: 16px 0;
}

h5 {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 8px 0;
}

p {
    font-size: 16px;
    font-weight: lighter;
}

hr {
  border: none;
  border-top: 1px solid #A8C3DE;
  margin: 40px auto;
  width: 800px;
  justify-content: center;
}

body {
    background-color: #fff;
}

/* Top Section */
#my-profile-img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border-style: solid;
    border-color: #A8C3DE;
    border-width: 16px;
    object-fit: cover;
}

.first-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text-area {
    display: flex;
    max-width: 520px;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    padding: 0 0 0 24px;
}

/* About Me Section */
.cards {
  display: flex;
  justify-content: center;
  margin: 16px 0;
  gap: 16px;
}

.past-card,
.present-card {
  padding: 24px 32px;
  border-radius: 16px;
  min-width: 150px;
  max-width: 200px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.past-card:hover, 
.present-card:hover {
  transform: translateY(-5px);
}

.past-card .emoji,
.present-card .emoji {
  font-size: 32px;
  display: block;
  margin-bottom: 10px;
}

.past-card p,
.present-card p {
  margin: 0;
}

.past-card {
  background-color: #A8C3DE; 
}

.present-card {
  background-color: #dea8bf;
}

/* Hometown Section */
.map-wrap {
  max-width: 300px;
  margin: 0 0;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.map-wrap iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.hometown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#sightseeing-img {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.sightseeing {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 0 80px;
}

.sightseeing-card {
  box-shadow: 0 4px 8px 0 #A8C3DE;
  transition: 0.3s;
  max-width: 276px;
  padding: 12px;
}

.sightseeing-card:hover {
  box-shadow: 0 8px 16px 0 #3f90e0;
}

